*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: 'Roboto', sans-serif;
}
html{
    --primary-clr: #5c6fd5;
    --bg-light-clr: #f4f7fe;
    --dark-heading-clr: #15181d;
    --dark-sub-headding-clr: #181c1f;
    --dark-text-clr: #454545;
    --light-heading-clr: #fefefe;
    --light-sub-headding-clr: #e2e9fa;
    --light-text-clr: #ccd1dd;

     
}
body{
    width: 100%;
    height: 100%;
}
 .website-wrapper{
    width: 100%;
    min-height: 100vh;
    max-width: 1400px;
    margin: 0px auto;
    background-color: var(--light-heading-clr);
 }
 button.btn{
    padding: 14px 30px;
    border: 1px solid transparent;
    border-radius: 25px;
    background-color: var(--primary-clr);
    color: var(--light-heading-clr);
    font-size: 15px;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.3s;
 }
 button.btn:hover{
    background-color: transparent;
    color: var(--primary-clr);
    border: 1px solid var(--primary-clr);
 }
 section.home{
    width: 100%;
    min-height: 100vh;
 }
 .home .top-bar{
    width: 100%;
    padding: 15px 8%;
    background-color: var(--bg-light-clr);
    display: flex;
    justify-content: space-between;
 }
 .home .top-bar .phone-email{
    display: flex;
 }
 .home .top-bar .phone-email i{
    margin-right: 3px;
    color: var(--dark-heading-clr);
    font-size: 15px;
 }
 .home .top-bar .phone-email span{
    color: var(--dark-heading-clr);
    font-size: 15px;
 }
 .home .top-bar .phone-email .phone{
    margin-right: 15px;
 }
 .home .top-bar ul.top-social-links{
    position: relative;

 }
 .home .top-bar ul.top-social-links li{
    display: inline-block;
    margin-left:  15px;
 }
 .home .top-bar ul.top-social-links li a{
    text-decoration: none;
 font-size: 15px;
 font-weight: 500;
 color: var(--dark-heading-clr);
 transition: color 0.3s;

 }
 
 .home .top-bar .top-social-links a{
    text-decoration: none;
    color: var(--dark-heading-clr);
 }
 .home .top-bar ul.top-social-links li a:hover{
    color: var(--primary-clr); 
 }
 .home .nav-bar{
    position: relative;
    width: 100%;
    height: 80px;
    padding: 0px 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--light-heading-clr);
    z-index: 100%;

 }
 .home .nav-bar .logo{
    position: relative;

 }
 .home .nav-bar .logo img{
    height: 100px;
 }
 .home .nav-bar ul.nav-links{
    list-style: none;
 }
 .home .nav-bar ul.nav-links li{
    display: inline-block;
    margin-left:  15px;
 }
 .home .nav-bar ul.nav-links li a{
 text-decoration: none;
 font-size: 15px;
 font-weight: 500;
 color: var(--dark-heading-clr);
 transition: color 0.3s;

 }
 .home .nav-bar ul.nav-links li a:hover{
    color: var(--primary-clr);
 }
 .home .nav-bar .menu-btn{
    position: relative;
    display: flex;
    align-items: center;
    width: 26px;
    height: 20px;
    cursor: pointer;
    display: none;

 }
 .home .nav-bar .menu-btn span{
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 2px;
    background-color: var(--dark-heading-clr);
    border-radius: 15px;
    transition: transform 0.3s, opacity 0.3s;

 }
 .home .nav-bar .menu-btn span:nth-of-type(1){
    transform: translate(-7px);
 }
 .home .nav-bar .menu-btn span:nth-of-type(3){
    transform: translate(7px);
 }
 .home .banner{
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-image: url(Images/Tunisia.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 0px 8%;
    display: flex;
    justify-content: flex-start;
    align-items: center;

 }
 .home .banner .home-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.7);
    z-index: 1;
 }
 .home .banner .text-wrapper{
    position: relative;
    max-width: 600px;
    color: var(--light-heading-clr);
    top: -60px;
    z-index: 2;
 }
 .home .banner .text-wrapper h3{
    font-size: 14px;
    margin-bottom: 15px;
    font-weight: 500;
    letter-spacing: 1px;
 }
 .home .banner .text-wrapper h1{
    font-size: calc(42px + 1.5vw);
    font-weight: 500;
    line-height: 1.3;
    margin-bottom: 30px;

 }
 .home .banner .text-wrapper p{
    font-size: 15px;
    color: var(--light-sub-headding-clr);
    line-height: 1.3;
    margin-bottom: 30px;
    
 }
 /* home style ends */
    /* services style starts*/
section.services{
    position: relative;
    width: 100%;
    padding: 0px 8%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    z-index: 3;
}
.services .services-box{
    position: relative;
    padding: 35px 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--light-heading-clr);
    top: -60px;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
    z-index: 3;
}
.services .services-box .services-icon{
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-light-clr);
    border-radius: 5% 50% 5% 50%;
   
}
.services .services-box .services-icon i{
    font-size: 26px;
    color: var(--primary-clr);
}
.services .services-box h2{
    font-size: calc(16px +0.6vw);
    font-weight: 500;
    color: var(--dark-heading-clr);
    text-transform: capitalize;
    margin: 20px 0px 10px;

}
services .services-box p{
    font-size: 15px;
    color: var(--dark-heading-clr);
    text-align: center;
    line-height: 1.3;
  
}

    /*services style begins*/
 @media(max-width: 1068px){}
 @media(max-width: 968px){}
 @media(max-width: 868px){}
 @media(max-width: 768px){
    .home .top-bar{
        display: none;
    }
    .home .nav-bar .menu-btn{
        display: flex;
    }
    .home .nav-bar ul.nav-links{
        position: absolute;
        width: 100%;
        top: 100%;
        left: 0;
        display: flex;
        flex-direction: column;
        padding: 30px 0px;
        background-color: var(--light-heading-clr);
        border-top: 1px solid var(--bg-light-clr);
        z-index: 99;
        transition: 0.3s;
        transform: scaleY(0);
        transform-origin: top;

    }
    .home .nav-bar ul.nav-links li{
        margin: 0;
    }
    .home .nav-bar ul.nav-links li a{
        display: block;
        width: 100%;
        padding:15px 0px;
        text-align: center;
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 1px;
        
     }
     .home .nav-bar ul.nav-links li a:hover{
        background-color: var(--bg-light-clr);
     }
 }

 @media(max-width: 668px){}
 @media(max-width: 568px){}
 .Zim-banner{
   position: relative;
    width: 100%;
    min-height: 100vh;
    background-image: url(Images/vic-falls-zimbabwe-zambia.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 0px 8%;
    display: flex;
    justify-content: flex-start;
    align-items: center;

 }
 .Zim-banner .home-overlay{
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   background-color: rgba(0,0,0,0.7);
   z-index: 1;
}
.Zim-banner .text-wrapper{
   position: flex;
   max-width: 600px;
   color: var(--light-heading-clr);
   top: -60px;
   z-index: 2;
   align-items: center;
}
.Zim-banner .text-wrapper h3{
   font-size: 14px;
   margin-bottom: 15px;
   font-weight: 500;
   letter-spacing: 1px;
}
.Zim-banner .text-wrapper h1{
   font-size: calc(42px + 1.5vw);
   font-weight: 500;
   line-height: 1.3;
   margin-bottom: 30px;

}
.Zim-banner .text-wrapper p{
   font-size: 15px;
   color: var(--light-sub-headding-clr);
   line-height: 1.3;
   margin-bottom: 30px;
   
}

.egypt-banner{
   position: relative;
    width: 100%;
    min-height: 100vh;
    background-image: url(Images/vic-falls-zimbabwe-zambia.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 0px 8%;
    display: flex;
    justify-content: flex-start;
    align-items: center;

 }
 .egypt-banner .home-overlay{
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   background-color: rgba(0,0,0,0.7);
   z-index: 1;
}
.egypt-banner .text-wrapper{
   position: flex;
   max-width: 600px;
   color: var(--light-heading-clr);
   top: -60px;
   z-index: 2;
   align-items: center;
}
.egypt-banner .text-wrapper h3{
   font-size: 14px;
   margin-bottom: 15px;
   font-weight: 500;
   letter-spacing: 1px;
}
.egypt-banner .text-wrapper h1{
   font-size: calc(42px + 1.5vw);
   font-weight: 500;
   line-height: 1.3;
   margin-bottom: 30px;

}
.egypt-banner .text-wrapper p{
   font-size: 15px;
   color: var(--light-sub-headding-clr);
   line-height: 1.3;
   margin-bottom: 30px;
   
}
/* ... (Your existing styles) ... */

/* Responsive Adjustments */

@media (max-width: 1068px) {
   /* Adjust layout for larger tablets and small laptops */
   .website-wrapper {
       max-width: 90%; /* Slightly reduce container width */
   }
   .services {
       grid-template-columns: repeat(2, 1fr); /* 2 columns */
   }
}

@media (max-width: 768px) {
   /* Adjust for tablets and smaller screens */
   /* ... (Your existing menu adjustments) ... */

   .services {
       grid-template-columns: 1fr; /* Single column layout */
   }

   .home .banner, 
   .Zim-banner, 
   .egypt-banner {
       padding: 5% 5%; /* Reduce padding for better content fit */
       min-height: 80vh; /* Adjust banner height */
   }

   .text-wrapper h1 {
       font-size: calc(32px + 1.5vw); /* Smaller headline */
   }
}

@media (max-width: 568px) {
   /* Adjust for mobile phones */
   .home .banner, 
   .Zim-banner, 
   .egypt-banner {
       padding: 5% 5%; /* Further reduce padding */
       min-height: 70vh; /* Further adjust banner height */
   }

   .text-wrapper h1 {
       font-size: calc(28px + 1.5vw); /* Even smaller headline */
   }
}
